<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mision to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: #D5D8DC">
    <center>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size:500%;">Mission to Mars</h1>
                </div>
    </center>
    <center>
        <div class="col-md-12" align="center">
            <a href="/scrape" class="btn btn-secondary btn-lg">Scrape New Data</a>
    </center>
    </div>
    </div>
    </div>

</body>

</html>